.genres {
    background-color: rgba(64, 64, 64, 0.95);
    height: fit-content;
    width: 700px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
    font-size: 24px;
    row-gap: 10px;
    position: sticky;
    top: 90px;


}

.genres a {
    color: #dcdbdb;
}

.genres :hover {
color: #030303;
    text-shadow: 2px 2px 10px #2f00ff;
}